[submodule "OCA-MUK/muk_base"]
	path = OCA-MUK/muk_base
	url = git@github.com:OCA-MUK/muk_base.git
	branch = 12.0

[submodule "OCA-MUK/muk_dms"]
	path = OCA-MUK/muk_dms
	url = git@github.com:OCA-MUK/muk_dms.git
	branch = 12.0

[submodule "OCA-MUK/muk_website"]
	path = OCA-MUK/muk_website
	url = git@github.com:OCA-MUK/muk_website.git
	branch = 12.0

[submodule "OCA-MUK/muk_quality"]
	path = OCA-MUK/muk_quality
	url = git@github.com:OCA-MUK/muk_quality.git
	branch = 12.0

[submodule "OCA-MUK/muk_bundles"]
	path = OCA-MUK/muk_bundles
	url = git@github.com:OCA-MUK/muk_bundles.git
	branch = 12.0

[submodule "OCA-MUK/muk_misc"]
	path = OCA-MUK/muk_misc
	url = git@github.com:OCA-MUK/muk_misc.git
	branch = 12.0

[submodule "OCA-MUK/muk_web"]
	path = OCA-MUK/muk_web
	url = git@github.com:OCA-MUK/muk_web.git
	branch = 12.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0
